.wrapper {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &.ready {
    .video {
      opacity: 1;
      height: auto;
    }

    .loader {
      display: none;
    }
  }
}

.videoWrapper {
  position: relative;
}

.video {
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;

  max-width: 100%;

  transform: scaleX(-1) translateZ(0);
}

.loader {
  margin-top: auto;
  margin-bottom: auto;
}
